@font-face {
  font-family: "Ancizar Serif";
  src:
    url("../assets/fonts/AncizarSerif-VariableFont_wght.ttf") format("truetype"),
    url("../assets/fonts/AncizarSerif-VariableFont_wght.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 6rem;
}
